<div class="container">
  <div class='row'>
    <div class="col-md-8">
      <mat-tab-group>
        <mat-tab *ngFor="let category of categoriesList" label="{{category.title}}">

          <form [formGroup]="attributesList">

            <fieldset formArrayName="attributes">

              <div class="attribute-container" *ngFor="let item of attributesList.get('attributes').controls; let i=index" [formGroup]="item">

                <div *ngIf="item.value.category == category.title">


                  <div class="row">
                    <div class="col-md-6 text-left">
                      <button type="button" class="btn" (click)="attributesList.get('attributes').removeAt(i)">
                          <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="col-md-6 text-right">

                    </div>
                  </div>

                  <input formControlName="category" style="display: none;">

                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Name *" formControlName="name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-9">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Description *" formControlName="description">
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="" id="collapse-element">

                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Device Resource Type" formControlName="deviceResourceType">
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-9">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Default Value *" formControlName="defaultValue" >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Data Type" formControlName="dataType" (change)="dataTypeChange(i)">
                          <mat-option *ngFor="let type of dataTypes" [value]="type">
                            {{ type }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Format" formControlName="format" (change)="formatsChange(i)">
                          <mat-option *ngFor="let formatSelected of formats" [value]="formatSelected">
                            {{ formatSelected }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row" *ngIf="item.value.dataType == 'STRING' && item.value.format == 'NONE'">
                    <div class="col-md-6">
                      <mat-form-field class="enumerations-field">
                        <input matInput placeholder="Enumerations" formControlName="enumerationValue">
                      </mat-form-field>
                      <button mat-raised-button color="primary" (click)="addEnumerationsValue(i)">Add</button>
                    </div>
                    <div class="col-md-2 text-left">
                      <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical" formControlName="enumerations">
                        <mat-chip [removable]="removable"
                                  *ngFor="let enum of attributesList['controls']['attributes']['controls'][i]['controls']['enumerations'].value let j=index">
                          {{enum}}
                          <mat-icon matChipRemove *ngIf="removable" class="float-right" (click)="deleteEnumerationValue(i, j)">cancel</mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </div>

                  <div class="row" *ngIf="item.value.dataType == 'STRING' && item.value.format == 'NUMBER'">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input type="number" matInput placeholder="Range Min *" formControlName="rangeMin">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input type="number" matInput placeholder="Range Max *" formControlName="rangeMax">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row" *ngIf="item.value.dataType == 'STRING' && item.value.format == 'NUMBER'">
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Unit Measurement" formControlName="unitMeasurement">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <input type="number" matInput placeholder="Precision *" formControlName="precision">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <input type="number" matInput placeholder="Accuracy *" formControlName="accuracy">
                      </mat-form-field>
                    </div>
                  </div>

                  </div>

                </div>

              </div>
            </fieldset>

          </form>

          <div class="button-row">
            <button mat-raised-button color="primary" (click)="attributesList.get('attributes').push(buildItem(category.title))">
              Add Attribute</button>
          </div>

        </mat-tab>
      </mat-tab-group>

      <div class="button-row text-right">
        <button mat-raised-button color="primary" [disabled]="attributesList?.invalid" >Save</button>
      </div>
    </div>
    <div class="col-md-4 json-container">
      <pre><code>{{ attributesList?.value | json }}</code></pre>
    </div>
  </div>
</div>
