.container{
  max-width: 90%;
  margin-top: 40px;
  padding: 10px;
  border: 1px solid #3f51b5;
}

.attribute-container{
    display: flow-root;
   flex-direction: column;
   /*border-bottom: 1px solid black;
   border-top: 1px solid black;*/
}

.full-width{
    width:100%;
}

.collapse-button{
  cursor: pointer;
}

.enumerations-field{
  width: 75%;
}

.json-container pre{
  background-color: #f1f1f1;
}
